<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyys.hr.dao.exam.ExamExaminationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dyys.hr.entity.exam.ExamExamination">
        <id column="id" property="id"/>
        <result column="paper_id" property="paperId"/>
        <result column="title" property="title"/>
        <result column="type" property="type"/>
        <result column="class_id" property="classId"/>
        <result column="duration" property="duration"/>
        <result column="pass_score" property="passScore"/>
        <result column="totle_score" property="totleScore"/>
        <result column="status" property="status"/>
        <result column="user_count" property="userCount"/>
        <result column="is_limit" property="isLimit"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="exam_count" property="examCount"/>
        <result column="creator" property="creator"/>
        <result column="creat_time" property="creatTime"/>
        <result column="updater" property="updater"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, paper_id, title, type, class_id, duration, pass_score, totle_score, status, user_count, is_limit, start_time, end_time, exam_count, creator, creat_time, updater, update_time
    </sql>

    <select id="listExamination" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM exam_examination ee
        WHERE 1=1
        <if test="title!=null">
            AND ee.title LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="startTime!=null">
            AND ee.start_time >= #{startTime}
        </if>
        <if test="endTime!=null">
            AND <![CDATA[ ee.end_time <= #{endTime}]]>
        </if>
        <if test="status!=null">
            AND ee.status >= #{status}
        </if>

    </select>
</mapper>
